.dashboard-card {
  height: 20%;
  background-position: center center;
  background-size:cover;
  margin-bottom: 2px;
  text-align:center;
  cursor:pointer;
  h2 {
    width: 100%;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    margin:0;
    padding-top: 14%;
    transition: 0.2s ease;
    font-family: "Enso", sans-serif;
  }
}
.dashboard-card:hover {
  h2 {
    font-weight: 500;
    font-size: 20px;
  }
}

#planning {
  background-image: linear-gradient(-225deg, rgba(24, 38, 91, 0.6) 0%, rgba(24, 38, 91, 0.3) 50%), url("http://res.cloudinary.com/dsczxfht7/image/upload/v1484926952/DESPORT%20CONSEIL/planning.jpg");
}

#messagerie {
  background-image: linear-gradient(-225deg, rgba(24, 38, 91, 0.6) 0%, rgba(24, 38, 91, 0.3) 50%),url("http://res.cloudinary.com/dsczxfht7/image/upload/v1484926952/DESPORT%20CONSEIL/messagerie.jpg");
}

#questionnaire {
  background-image: linear-gradient(-225deg, rgba(24, 38, 91, 0.6) 0%, rgba(24, 38, 91, 0.3) 50%),url("http://res.cloudinary.com/dsczxfht7/image/upload/v1484926952/DESPORT%20CONSEIL/questionnaire.jpg")
}

#conseils {
  background-image: linear-gradient(-225deg, rgba(24, 38, 91, 0.6) 0%, rgba(24, 38, 91, 0.3) 50%),url("http://res.cloudinary.com/dsczxfht7/image/upload/v1484926952/DESPORT%20CONSEIL/conseils.jpg")
}

#objectives {
  background-image: linear-gradient(-225deg, rgba(24, 38, 91, 0.6) 0%, rgba(24, 38, 91, 0.3) 50%),url("http://res.cloudinary.com/dsczxfht7/image/upload/v1484926952/DESPORT%20CONSEIL/objectives.jpg")
}
