.form-card {
  padding: 10px 10px 0px 10px;
  h3 {
    font-size: 14px;
    color: #18265B;
    text-transform: uppercase;
    margin:0
  }
  p {
    font-weight: 300;
    font-size: 10px;
    text-align: justify;
  }
}
