<%= link_to dashboard_path do %>
  <div id="questionnaire" class="dashboard-card">
    <i class="fa fa-arrow-left back-arrow" aria-hidden="true"></i>
    <h2>Mes Objectifs</h2>
  </div>
<% end %>

<div class="row-objectif">
  <h3>Mon poids</h3>
  <div class="sub-row-objectif">
    <div class="col-xs-8">
      <h5>55.4 kg</h5>
    </div>
    <div class="col-xs-4">
      <i class="fa fa-arrow-circle-down green" aria-hidden="true"></i> -1 kg
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="row-objectif">
  <h3>Qualité du sommeil</h3>
  <div class="sub-row-objectif">
    <div class="col-xs-8">
      <h5>7.5 / 10</h5>
    </div>
    <div class="col-xs-4">
      <i class="fa fa-arrow-circle-up green" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="row-objectif">
  <h3>Arrêts Maladie</h3>
  <div class="sub-row-objectif">
    <div class="col-xs-8">
      <h5>6.2 j / an</h5>
    </div>
    <div class="col-xs-4">
      <i class="fa fa-arrow-circle-down red" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="row-objectif">
  <h3>Cohésion d'équipe</h3>
  <div class="sub-row-objectif">
    <div class="col-xs-8">
      <h5>8.7 / 10</h5>
    </div>
    <div class="col-xs-4">
      <i class="fa fa-arrow-circle-up green" aria-hidden="true"></i>
    </div>
  </div>
</div>
